<div class="background-gradient panel">
  <h1 class="words">Wyszukiwarka firm</h1>


<form class="form" [formGroup]="form">
    <ul class="container wrap-basic">
      <li class="flex-item">
        <mat-form-field>
          <mat-label>Tryby pracy</mat-label>
          <mat-select (selectionChange)="selectionChange()" formControlName="modes" [(value)]="mode">
            <mat-option [value]="0">Nipy</mat-option>
            <mat-option [value]="1">Konta bankowe</mat-option>
            <mat-option [value]="2">Regony</mat-option>
            <mat-option [value]="3">NIP + Numer konta</mat-option>
            <mat-option [value]="4">REGON + Numer konta</mat-option>
          </mat-select>
        </mat-form-field>
      </li>
      <div *ngIf="mode == 0 || mode == 3">
        <li class="flex-item">
          <mat-form-field>
            <mat-label>Wprowadź nipy</mat-label>
            <input matInput
                   formControlName="nips"
                   [(ngModel)]="nips">
          </mat-form-field>
        </li>
      </div>
      <div *ngIf="mode == 1 || mode == 3 || mode == 4">
        <li class="flex-item">
          <mat-form-field>
            <mat-label>Wprowadź numery kont</mat-label>
            <input matInput
                   formControlName="accounts"
                   [(ngModel)]="accounts">
          </mat-form-field>
        </li>
      </div>
      <div *ngIf="mode == 2 || mode == 4">
        <li class="flex-item">
          <mat-form-field>
            <mat-label>Wprowadź regony</mat-label>
            <input matInput
                   formControlName="regons"
                   [(ngModel)]="regons">
          </mat-form-field>
        </li>
      </div>
    </ul>



<div class="center-content">
  <button mat-raised-button (click)="search()">
    <div *ngIf="mode == 0 || mode == 1 || mode == 2">
      Szukaj
    </div>
    <div *ngIf="mode == 3 || mode == 4">
      Sprawdź zgodność
    </div>
  </button>
</div>
</form>




  <ul class="flex-container wrap">
    <li class="flex-item">
      <button mat-mini-fab color="primary"
              (click)="download()">
        JSON
      </button>
    </li>
    <li class="flex-item">
      <div class="download-button">
        <button mat-mini-fab color="primary"
                (click)="downloadCSV()">
          XML
        </button>
      </div>
    </li>
  </ul>

<p></p>
  <div *ngIf="mode == 0 || mode == 1 || mode == 2">
    <div class="eclips" *ngIf="data">
      <div *ngFor="let result of data.result.entries"></div>
      <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let result of data.result.entries">
          <mat-expansion-panel-header collapsedHeight="60px">
            <mat-panel-title>
              {{result.subjects[0].nip}}
            </mat-panel-title>
            <mat-panel-description>
              {{result.subjects[0].name}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><b>KRS:</b> {{result.subjects[0].krs}}</p>
          <p><b>REGON</b> {{result.subjects[0].regon}}</p>
          <p><b>Status Vat:</b> {{result.subjects[0].statusVat}}</p>
          <p><b>Adres roboczy:</b> {{result.subjects[0].workingAddress}}</p>
          <p><b>Adres zamieszkania:</b> {{result.subjects[0].residenceAddress}}</p>
          <p class="center-content">
            <button mat-button (click)="bankAccounts(result.subjects[0])">
              Numery kont
            </button>
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>



</div>


